@model EasyHousingSolutions_WebUI.Models.EhsProperty

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EhsProperty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyOption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyOption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialDeposit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialDeposit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandMark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandMark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.PropertyId  }) |
    <a asp-action="Index">Back to List</a>
</div>
