@model IEnumerable<EasyHousingSolutions_WebUI.Models.EhsProperty>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><b>Properties List</b></h1>
@using (Html.BeginForm("search", "CrudManually", FormMethod.Post))
{
     @Html.TextBox("PropertyId")<br/>
     @*@Html.TextBox("searchStrin")<br/>*@
     <input type="submit" value="Search"/>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PropertyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyOption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialDeposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LandMark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyOption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialDeposit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandMark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.PropertyId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.PropertyId }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.PropertyId })
                 @Html.ActionLink("AddToCart", "AddToCart", new {  id=item.PropertyId })
            </td>
        </tr>
}
    </tbody>
</table>
